@page "/sentiment-clothes"
@using Microsoft.KernelMemory
@inject SearchApiClient client

<h3>Search Outfit</h3>

<EditForm Model="Model" OnValidSubmit="Submit" FormName="search">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="searchOutfit">Film Title</label>
        <InputText @bind-Value="Model!.SearchText" class="form-control" id="searchOutfit" aria-describedby="searchOutfitHelp" placeholder="" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@if (Model?.Clothes?.Citations?.Any() ?? false)
{
    <span>@Model?.Clothes?.Result</span>
    <br />
    @foreach(var c in Model.Clothes.Citations)
    {
        <a href="@c.SourceUrl">@c.SourceUrl</a><br />
    }
}

@code {
    public class SearchModel
    {
        public string SearchText { get; set; }
        public Clothes Clothes { get; set; } = new();
    }

    [SupplyParameterFromForm]
    public SearchModel Model { get; set; } = new SearchModel();

    async Task Submit()
    {
        Model.Clothes = await client.GetClothes(Model.SearchText);
        StateHasChanged();
    }
}
